.login-register-container {
    background-image: url('../assets/backgroundImage.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;    
    height: 100vh; /* Sayfayı kaplamak için tam ekran yüksekliği */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-container {
    width: 350px;
    margin-left: auto; /* Formu sağa yaslamak için */
    margin-right: 275px; /* Formu sola kaydrımak için */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(101, 164, 185,0.4);
    border-radius: 20px;
    height: 460px;
  }

  .ant-tabs-tab {
    font-size: 20px !important ;/* İstediğiniz font boyutunu buraya girin */
    color: rgb(83, 153, 179); /* İstediğiniz rengi buraya girin */
    margin-right: 30px ;
    font-weight: bold; 
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .ant-tabs-tab-active {
    font-size: 25px !important; /* Aktif tabın font boyutunu buraya girin */
    color:black; /* Aktif tabın rengini buraya girin */
    font-weight: bold; 
  }

  .ant-tabs-ink-bar {
    background-color: rgb(32, 79, 97) !important; /* Tabın altındaki çizginin rengini buraya girin */
  }

  .ant-tabs-nav {
    display: flex;
    justify-content: center;
  }
  
  .login-register-container .login-form-container .ant-btn.custom-button {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 45px;
    margin-bottom: 30px;
    width: 300px;
    font-size: 16px;
  }
  
/* Tüm input ve select elemanları için genel stil */
.login-register-container .login-form-container
.ant-input,
.ant-input-password,
.ant-select-selector,
.ant-checkbox-wrapper {
  padding: 10px; /* İç boşluk (padding) ekler */
  border: 0px solid #000000; /* Giriş alanının kenarlığını belirler */
  border-radius: 8px; /* Köşeleri yuvarlar */
  transition: border-color 0.3s; /* Border rengini değiştirdiğimizde geçiş efekti ekler */
}

.login-register-container .login-form-container
.ant-input:focus,
.ant-input-password:focus,
.ant-select-selector:focus {
  border-color: rgb(101, 164, 185); /* Odaklanıldığında kenarlık rengini değiştirir */
  box-shadow: 0 0 5px rgba(101, 164, 185); /* Hafif bir gölge ekleyerek odaklandığını belli eder */
  /*font-size: 10px;*/
}

label {
  font-weight: bold;      /* Yazı stilini kalın yapar */
}

.forgot-password-link {
  color: rgb(83,153,179); /* İstediğiniz rengi buraya ekleyin */
  text-decoration: underline; /* Altını çizmek için */
}
.forgot-password-link:hover {
  color: rgb(83,153,179); /* Hover sırasında istediğiniz rengi buraya ekleyin */
  text-decoration: underline; /* Altını çizmek için */
}
.custom-checkbox .ant-checkbox-inner {
  border-color: rgb(83,153,179) !important; /* Checkbox'ın kenar rengi */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(83,153,179); /* Checkbox işaretli durumdayken iç rengi */
}
.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn{
  color: rgb(32, 79, 97) !important; /* Aktif sekme linklerinin rengi */
}
.ant-tabs-nav .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: rgb(32, 79, 97); /* Hover durumunda rengi değiştir */
}

.floating-label {
  position: relative;
  margin-bottom: 0px;
}

.floating-label input {
  width: 100%;
  padding: 12px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.floating-label input:focus {
  border-color: #65a4b9;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: 10px;
  font-size: 12px;
  /*background: #fff; /* Beyaz arkaplan, gerektiğinde değiştirilebilir */
  padding: 0 5px;
  color:rgb(32, 79, 97,0.4);
}


.floating-label label {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  background: transparent;
  transition: top 0.3s, font-size 0.3s;
  pointer-events: none;
}
