.sign-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-wrapper {
    margin: 10px 0;
  }
  
  .login-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 310px;
    transition: background-color 0.3s;
    margin-top: -5px;
  }
  
  .login-button .icon {
    margin-right: 25px;
    margin-left: 40px;
  }
  
  .google {
    background-color: white;
    color:  rgb(0, 0, 0);
    border: 1px solid  rgba(101, 164, 185);
  }
  
  .google:hover {
    background-color: #f1f1f1;
  }
  
  .or {
    margin-top: -45px;
    font-size: 16px;
    color: #555;
  }
  